html{
	margin:0;
	padding:0;
	background: url(Libellules.jpg) no-repeat center fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

body
{
	background-color: rgba(255, 255, 255, .3);
}

h1{
	text-align:center;
}

header
{
	background-color: rgba(255, 255, 255, .3);
	color: black;
	display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
	display: flex;
  justify-content: space-between;
	-webkit-flex-align: flex-end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  height:3em;
}

header h1
{
	color: black;
	font-size: 1.5em;
	margin-left:1em;
}


/* Navigation
---------------------------------------------------------------------------*/
nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 1em;
}

nav a
{
    font-size: 1.3em;
    color: black;
    /*padding-bottom: 3px;*/
    text-decoration: none;
}

h1 a
{
    color: black;
    /*padding-bottom: 3px;*/
    text-decoration: none;
}

nav a:hover
{
    color: grey;
}

h1 a:hover
{
    color: grey;
}


/* Pied de page
---------------------------------------------------------------------------*/
footer{
	font-size: x-small;
}

/*content : permet d'avoir le menu qui reste en haut et de seulement avoir l'image au début
---------------------------------------------------------------------------*/
.content
{
		position:absolute;
    top: 4em;
    left:0.5em;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
}

section{
	background-color: rgba(255, 255, 255, .8);
	font-weight: bold;
	color: black;
	padding: 0.1em 0 0.7em 0;
	/*opacity: 0.6;*/
  /*filter: alpha(opacity=60);*/ /* For IE8 and earlier */
}
