body
{
	background-color:lightgrey;
}

h1{
	text-align:center;
}

/*pour l'image sur la page principale
---------------------------------------------------------------------------*/
#imgfond
{
	float:right;
	margin: 1px 10px
}

/* En-tete
---------------------------------------------------------------------------*/
header
{
	background-color: black;
	color: white;
	display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height:3.5em;
}

header h1
{
	color: white;
	font-size: 1.5em;
	margin-left:1em;
}


/* Navigation
---------------------------------------------------------------------------*/
nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 1em;
}

nav a
{
    font-size: 1.3em;
    color: grey;
    /*padding-bottom: 3px;*/
    text-decoration: none;
}

nav a:hover
{
    color: white;
}


/* Pied de page
---------------------------------------------------------------------------*/
footer{
	font-size: x-small;
}

/*content : permet d'avoir le menu qui reste en haut
---------------------------------------------------------------------------*/
.content
{
	position:absolute;
    top: 4em;
    left:0.5em;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
}

/* pour les photos du Salève
---------------------------------------------------------------------------*/
.saleve {
    margin: 0.2ex;
    border: 0.1ex solid #ccc;
    float: left;
    width: 320px;
}

.saleve:hover {
    border: 1px solid #777;
}

.saleve img {
    width: 100%;
    height: 100%;
}

.description {
		display:block;
		background-color: white;
    /*padding: 0.1ex;*/
		height: 3em;
		font-size: 1em;
		text-align: center;
		overflow-y:scroll;
}


/*TrixClic : cache une section, le tout en CSS
---------------------------------------------------------------------------*/
.TrixClic label {
    cursor: pointer;
}

.TrixClic .appear {
    display: none;
}

.TrixClic input {
    display: none;
}
.TrixClic input:checked ~ .appear {
    /*display: flex;
		flex-wrap: wrap;*/
		display: inline-block;
}


/*Pour les photos
---------------------------------------------------------------------------*/


/*agrandit l'image quand on pase dessus*/
.photos ul.categories li:hover ul li a:hover img,
.photos ul.categories li a:hover ul li a:hover img
{
	display: block;
	position: absolute;
	top: -38px;
	left: -50px;
	z-index: 1;
	width: 200px;
	height: 150px;
}


/*alignement des photos et taille des images*/
.photos ul.categories li ul li,
.photos ul.categories li ul li a img
{
	display: inline;
	float: left;
	padding: 0.2em 0.2em 0 0;
	vertical-align: top;
	width: 100px;
	height: 75px;
	position: relative;
}

/*Place les images sous les titres*/
.photos ul.categories{
	position:relative;
}

/*placement des titres de catégories*/
.photos ul.categories li{
	display: block;
	float: left;
	padding:0 0.2em 0 0;
}
/*boite autour des catégories*/
.photos ul.categories li a.titre {
	display:block;
	padding: 1em;
	background-color:white;
	text-decoration: none;
	color: black;
}

/*On cache les catégories non-selectionnées*/
.photos ul.categories li a ul,
.photos ul.categories li ul{
	display:none;
}

/*On montre la catégorie séléctionnée*/
.photos ul.categories li.actif ul,
.photos ul.categories li a:hover ul,
.photos ul.categories li:hover ul{
	display:block;
	position:absolute;
	left:0;
	top:3.1em;
	list-style:none;
}


/*Pour le diaporama
---------------------------------------------------------------------------*/


/* Styling the area of the slides */
#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}
 
/* Style each of the sides
with a fixed width and height */
.slide {
  float: left;
  height: 510px;
  width: 728px;
}
 
/* Add animation to the slides */
.slide-wrapper {
   
/* Calculate the total width on the
  basis of number of slides */
  width: calc(728px * 4);
 
/* Specify the animation with the
  duration and speed */
  animation: slide 10s ease infinite;
}
 
/* Set the background color
of each of the slides */
.slide:nth-child(1) {
  background: green;
}
 
.slide:nth-child(2) {
  background: pink;
}
 
.slide:nth-child(3) {
  background: red;
}
 
.slide:nth-child(4) {
  background: yellow;
}
 
/* Define the animation
for the slideshow */
@keyframes slide {
   
/* Calculate the margin-left for
  each of the slides */
  20% {
    margin-left: 0px;
  }
 
  40% {
    margin-left: calc(-728px * 1);
  }
 
  60% {
    margin-left: calc(-728px * 2);
  }
 
  80% {
    margin-left: calc(-728px * 3);
  }
}