h1, h2, .centre
{
	text-align: center;
}
section
{
    margin-left: 50px;
}
indent
{
	margin-left: 25px;
}
ol
{
	margin-top:0px;
}
table
{
    border-collapse: separate; /* Les bordures du tableau seront collées (plus joli) */
    text-align:center;
    empty-cells: hide;
}
td, th /*gère les cellules du tableau*/
{
    border: 1px solid black;
	width: 130px;
	height: 30px;
}
thead{
    background-color: #999;
}
.oclock{
    background-color: #999;
}

/*TrixClic : cache une section, le tout en CSS
---------------------------------------------------------------------------*/
.TrixClic label {
    cursor: pointer;
}

.TrixClic .appear {
    display: none;
}

.TrixClic input {
    display: none;
}
.TrixClic input:checked ~ .appear {
    /*display: flex;
		flex-wrap: wrap;*/
		display: inline-block;
}
